@model IEnumerable<MoreNote.Logic.Entity.ServiceProviderCompany>

@{
   ViewData["Title"] = "主机数据库";
     Layout = "_HostLayout";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                服务商
            </th>
            <th>
                法人Id
            </th>
            <th>
                注册时间
            </th>
            <th>
                官网网址
            </th>
            <th>
                曾用网址
            </th>
            <th>
                注册地
            </th>
            <th>
                注册时间
            </th>
            <th>
                是否拉黑
            </th>
            <th>
                风险指数
            </th>
            <th>
                指名度
            </th>
            <th>
                异常检测
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SPName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LegalPersonId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WebSite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OldWebSite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationPlace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FoundDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsBlock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RiskIndex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MentionByName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnomalyDetection)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ServiceProviderCompanyId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ServiceProviderCompanyId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ServiceProviderCompanyId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
