@{
    //ViewData["Title"] = "Home Page";
    Layout = null;
    ViewData["Title"] = "Home Page";
    int selectPage = ViewBag.selectPage;
    string a = "a";
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta name="renderer" content="webkit" />
    <meta http-equiv="Content-Type" content="text/html; charset=gbk" />
    <title>@ViewData["Title"] - AiLiDao</title>
    <meta name="keywords" content="门户" />
    <meta name="description" content="门户 " />
    <meta name="generator" content="Discuz! X3.4" />
    <meta name="author" content="Discuz! Team and Comsenz UI Team" />
    <meta name="copyright" content="2001-2017 Comsenz Inc." />
    <meta name="MSSmartTagsPreventParsing" content="True" />
    <meta http-equiv="MSThemeCompatible" content="Yes" />
    <xbasehref ="http://47.100.112.22/demo/manga/" />
    <link rel="stylesheet" type="text/css" href="data/cache/style_2_common.css" tppabs="http://47.100.112.22/demo/manga/data/cache/style_2_common.css?LBz" />
    <link rel="stylesheet" type="text/css" href="@ViewBag.css" tppabs="http://47.100.112.22/demo/manga/data/cache/style_2_portal_index.css?LBz" />
    <script type="text/javascript">var STYLEID = '2', STATICURL = 'static/', IMGDIR = 'static/image/common', VERHASH = 'LBz', charset = 'gbk', discuz_uid = '0', cookiepre = 'm3Rn_2132_', cookiedomain = '', cookiepath = '/', showusercard = '1', attackevasive = '0', disallowfloat = 'newthread', creditnotice = '1|威望|,2|金钱|,3|贡献|', defaultstyle = '', REPORTURL = 'aHR0cDovLzQ3LjEwMC4xMTIuMjIvZGVtby9tYW5nYS9wb3J0YWwucGhw', SITEURL = 'portal.php.htm'/*tpa=http://47.100.112.22/demo/manga/*/, JSPATH = 'static/js/', CSSPATH = 'data/cache/style_', DYNAMICURL = '';</script>
    <script src="static/js/common.js" tppabs="http://47.100.112.22/demo/manga/static/js/common.js?LBz" type="text/javascript"></script>
    <meta name="application-name" content="动漫次元视频资源综合社区" />
    <meta name="msapplication-tooltip" content="动漫次元视频资源综合社区" />
    <meta name="msapplication-task" content="name=门户;action-uri=http://47.100.112.22/demo/manga/portal.php;icon-uri=http://47.100.112.22/demo/manga/static/image/common/portal.ico" />
    <meta name="msapplication-task" content="name=论坛;action-uri=http://47.100.112.22/demo/manga/forum.php;icon-uri=http://47.100.112.22/demo/manga/static/image/common/bbs.ico" />
    <meta name="msapplication-task" content="name=群组;action-uri=http://47.100.112.22/demo/manga/group.php;icon-uri=http://47.100.112.22/demo/manga/static/image/common/group.ico" />
    <meta name="msapplication-task" content="name=动态;action-uri=http://47.100.112.22/demo/manga/home.php;icon-uri=http://47.100.112.22/demo/manga/static/image/common/home.ico" />
    <script src="static/js/portal.js" tppabs="http://47.100.112.22/demo/manga/static/js/portal.js?LBz" type="text/javascript"></script>
    <script type="text/javascript" src="template/nex_manga_181008/neoconex/js/jquery-1.8.3.min.js" tppabs="http://47.100.112.22/demo/manga/template/nex_manga_181008/neoconex/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript">
        var jq = jQuery.noConflict();
    </script>
    <script language="javascript" type="text/javascript">
        function killErrors() {
            return true;
        }
        window.onerror = killErrors;
    </script>
    <script src="template/nex_manga_181008/neoconex/js/nexactions.min.js" tppabs="http://47.100.112.22/demo/manga/template/nex_manga_181008/neoconex/js/nexactions.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="template/nex_manga_181008/neoconex/js/animate.min.css" tppabs="http://47.100.112.22/demo/manga/template/nex_manga_181008/neoconex/js/animate.min.css" />
    <script>
        var wow = new WOW({ boxClass: 'nexactions', }); wow.init();
    </script>
    <script type="text/javascript" src="template/nex_manga_181008/neoconex/js/jquery.SuperSlide.2.1.1.js" tppabs="http://47.100.112.22/demo/manga/template/nex_manga_181008/neoconex/js/jquery.SuperSlide.2.1.1.js"></script>
    <script src="template/nex_manga_181008/neoconex/js/jquery.pagnation.js" tppabs="http://47.100.112.22/demo/manga/template/nex_manga_181008/neoconex/js/jquery.pagnation.js" type="text/javascript"></script>
    <script type="text/javascript">
        jQuery(function () {
            jQuery('#nexGoToTop').click(function () { jQuery('html,body').animate({ scrollTop: jQuery('#nextopsxx').offset().top }, 600); });
        })
    </script>

    @RenderSection("Header", required: false)
</head>

<body id="nv_portal" class="pg_index" onkeydown="if(event.keyCode==27) return false;">
    <div id="append_parent"></div><div id="ajaxwaitid"></div>
    <div id="toptb" class="cl" style="display:none;">
        <div class="wp">
            <div class="z"><a href="javascript:;" onclick="setHomepage('portal.php.htm'/*tpa=http://47.100.112.22/demo/manga/*/);">设为首页</a><a href="portal.php.htm" tppabs="http://47.100.112.22/demo/manga/" onclick="addFavorite(this.href, '动漫次元视频资源综合社区');return false;">收藏本站</a></div>
            <div class="y">
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="nex_plugin_reserved">
        <div class="w1180">
            <div class="z">
            </div>
            <div class="y">
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div id="qmenu_menu" class="p_pop blk" style="display: none;">
        <div class="ptm pbw hm">
            请 <a href="javascript:;" class="xi2" onclick="lsSubmit()"><strong>登录</strong></a> 后使用快捷导航<br />没有帐号？<a href="member.php-mod=register.htm" tppabs="http://47.100.112.22/demo/manga/member.php?mod=register" class="xi2 xw1">立即注册</a>
        </div>
        <div id="fjump_menu" class="btda"></div>
    </div>
    <!--导航栏-->
    <div id="hd">
        <div id="nextopsxx"></div>
        <div class="nex_top_bg">
            <div class="nex_top_bg_inter">
                <div class="nex_top_interior">
                    <!--logo-->
                    <div class="nexlogo">
                        <h2>
                            <a href="portal.php.htm" tppabs="http://47.100.112.22/demo/manga/" title="动漫次元视频资源综合社区">
                                <img src="template/nex_manga_181008/neoconex/logo.png" tppabs="http://47.100.112.22/demo/manga/template/nex_manga_181008/neoconex/logo.png" alt="动漫次元视频资源综合社区" border="0" />
                            </a>
                        </h2>
                    </div>
                    <div class="nex_nav_ranklist"><a href="portal.php-mod=list&catid=7.htm" tppabs="http://47.100.112.22/demo/manga/portal.php?mod=list&catid=7" target="_blank"><i></i>排行榜</a></div>
                    <!--search-->
                    <div class="nex_top_search">
                        <div id="scbar" class="scbar_narrow cl">
                            <form id="scbar_form" method="post" autocomplete="off" onsubmit="searchFocus($('scbar_txt'))" action="http://47.100.112.22/demo/manga/search.php?searchsubmit=yes" target="_blank">
                                <input type="hidden" name="mod" id="scbar_mod" value="search" />
                                <input type="hidden" name="formhash" value="206297a1" />
                                <input type="hidden" name="srchtype" value="title" />
                                <input type="hidden" name="srhfid" value="0" />
                                <input type="hidden" name="srhlocality" value="portal::index" />
                                <div class="nex_scbar_type_td"><a href="javascript:;" id="scbar_type" onclick="showMenu(this.id)" hidefocus="true">搜索</a></div>
                                <div class="nex_scbar_txt_td"><input type="text" name="srchtxt" id="scbar_txt" value="请输入搜索内容" autocomplete="off" x-webkit-speech=x-webkit-speech speech=speech /></div>
                                <div class="nex_scbar_btn_td"><button type="submit" name="searchsubmit" id="scbar_btn" sc="1" class="pn pnc" value="true"></button></div>
                                <div class="clear"></div>
                            </form>
                        </div>
                        <div class="nex_scbar_hot_td">
                            <div id="nex_scbar_hot">
                                <span class="xw1">热搜: </span>

                                <a href="forum.php-mod=forumdisplay&fid=36&orderby=lastpost&filter=dateline&dateline=86400.htm" tppabs="http://47.100.112.22/demo/manga/search.php?mod=forum&srchtxt=%B3%D4%BC%A6%B4%F3%D7%F7%D5%BD&formhash=206297a1&searchsubmit=true&source=hotsearch" target="_blank" class="xi2" sc="1">吃鸡大作战</a>

                                <a href="forum.php-mod=forumdisplay&fid=36&orderby=lastpost&filter=dateline&dateline=172800.htm" tppabs="http://47.100.112.22/demo/manga/search.php?mod=forum&srchtxt=%B3%F5%D2%F4%CE%B4%C0%B4%B5%E7%D2%F4&formhash=206297a1&searchsubmit=true&source=hotsearch" target="_blank" class="xi2" sc="1">初音未来电音</a>

                                <a href="forum.php-mod=forumdisplay&fid=36&orderby=lastpost&filter=dateline&dateline=604800.htm" tppabs="http://47.100.112.22/demo/manga/search.php?mod=forum&srchtxt=%D7%AA%D5%BD%D6%AE%B3%AC%D0%FD%B6%B7%CA%BF&formhash=206297a1&searchsubmit=true&source=hotsearch" target="_blank" class="xi2" sc="1">转战之超旋斗士</a>

                                <a href="forum.php-mod=forumdisplay&fid=36&orderby=lastpost&filter=dateline&dateline=2592000.htm" tppabs="http://47.100.112.22/demo/manga/search.php?mod=forum&srchtxt=%B0%D9%C1%B6%B3%C9%C9%F1&formhash=206297a1&searchsubmit=true&source=hotsearch" target="_blank" class="xi2" sc="1">百炼成神</a>

                                <a href="forum.php-mod=forumdisplay&fid=36&orderby=lastpost&filter=dateline&dateline=7948800.htm" tppabs="http://47.100.112.22/demo/manga/search.php?mod=forum&srchtxt=%B9%FA%B2%FA%B6%AF%BB%AD%C6%AC&formhash=206297a1&searchsubmit=true&source=hotsearch" target="_blank" class="xi2" sc="1">国产动画片</a>

                                <a href="forum.php-mod=forumdisplay&fid=36&filter=author&orderby=dateline.htm" tppabs="http://47.100.112.22/demo/manga/search.php?mod=forum&srchtxt=%C3%C8%BC%A6%D0%A1%B6%D3&formhash=206297a1&searchsubmit=true&source=hotsearch" target="_blank" class="xi2" sc="1">萌鸡小队</a>

                                <a href="forum.php-mod=forumdisplay&fid=36&filter=reply&orderby=replies.htm" tppabs="http://47.100.112.22/demo/manga/search.php?mod=forum&srchtxt=%B7%CA%D5%AC%B2%E2%CA%D4&formhash=206297a1&searchsubmit=true&source=hotsearch" target="_blank" class="xi2" sc="1">肥宅测试</a>
                            </div>
                        </div>
                        <ul id="scbar_type_menu" class="p_pop" style="display: none;"><li><a href="javascript:;" rel="article">文章</a></li><li><a href="javascript:;" rel="forum" class="curtype">帖子</a></li><li><a href="javascript:;" rel="user">用户</a></li></ul>
                        <script type="text/javascript">
                            initSearchmenu('scbar', '');
                        </script>
                    </div>
                    <!--app-->
                    <div class="nex_top_cell">
                        <div class="nex_top_cell_top">访问手机版</div>
                        <div class="nex_top_cell_hide">
                            <img src="template/nex_manga_181008/neoconex/top/ewm.jpg" tppabs="http://47.100.112.22/demo/manga/template/nex_manga_181008/neoconex/top/ewm.jpg" />
                            <p>扫描体验手机版</p>
                        </div>
                    </div>
                    <!--login-->
                    <div class="nexdl">
                        <div class="nexlogin">
                            <div class="nexmain_dls">
                                <div class="nexDL_before">
                                    <div class="nexDL_unknown"><img src="template/nex_manga_181008/neoconex/top/admin.png" tppabs="http://47.100.112.22/demo/manga/template/nex_manga_181008/neoconex/top/admin.png" /></div>
                                    <div class="clear"></div>
                                    <i></i>
                                </div>
                                <div class="nexbd_mains">
                                    <em></em>
                                    <div class="nexbd_Iner">
                                        <div class="nexbd_Ineravt"><img src="template/nex_manga_181008/neoconex/top/admin1.png" tppabs="http://47.100.112.22/demo/manga/template/nex_manga_181008/neoconex/top/admin1.png" /></div>
                                        <div class="nexbd_welcome">游客您好</div>
                                        <div class="nexbd_DLplace">
                                            <ul>
                                                <h4>已有账号？</h4>
                                                <li class="nexbdLogin"><a href="member.php-mod=logging&action=login.htm" tppabs="http://47.100.112.22/demo/manga/member.php?mod=logging&action=login" onclick="showWindow('login', this.href)">登陆账号</a></li>
                                                <h4>注册后更精彩</h4>
                                                <li class="nexbdRegs"><a href="member.php-mod=register.htm" tppabs="http://47.100.112.22/demo/manga/member.php?mod=register">立即注册</a></li>
                                                <div class="clear"></div>
                                            </ul>
                                        </div>
                                        <div class="nexbdthirdparts"><i class="nex_lineleft"></i><span>第三方账号登陆</span><i class="nex_lineright"></i></div>
                                        <div class="nexbdthirdlogins">
                                            <ul>
                                                <li>
                                                    <a href="#">
                                                        <img src="template/nex_manga_181008/neoconex/top/third_qq.png" tppabs="http://47.100.112.22/demo/manga/template/nex_manga_181008/neoconex/top/third_qq.png" />
                                                        <p>QQ登陆</p>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <img src="template/nex_manga_181008/neoconex/top/third_weixin.png" tppabs="http://47.100.112.22/demo/manga/template/nex_manga_181008/neoconex/top/third_weixin.png" />
                                                        <p>微信登陆</p>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <img src="template/nex_manga_181008/neoconex/top/third_weibo.png" tppabs="http://47.100.112.22/demo/manga/template/nex_manga_181008/neoconex/top/third_weibo.png" />
                                                        <p>微博登陆</p>
                                                    </a>
                                                </li>
                                                <div class="clear"></div>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                <script type="text/javascript">
                                    jQuery(".nexDL_before").hover(
                                        function () {
                                            jQuery(this).siblings(".nexbd_mains").show();
                                        },
                                        function () {
                                            jQuery(this).siblings(".nexbd_mains").hide();
                                        })
                                    jQuery(".nexbd_mains").hover(
                                        function () {
                                            jQuery(this).show();
                                            jQuery(this).siblings(".nexDL_before").addClass("nexuppers");
                                        },
                                        function () {
                                            jQuery(this).hide();
                                            jQuery(this).siblings(".nexDL_before").removeClass("nexuppers");
                                        })
                                </script>
                            </div>
                            </ul>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>

        <div id="nexheader" class="nexheader">
            <div class="w1180">
                <div class="nexnav">
                    <ul>
                        <li class="@if (selectPage == 0) { @a} "hidden="hidden" id="mn_portal"><a href="/Index" tppabs="http://47.100.112.22/demo/manga/portal.php" hidefocus="true" title="Portal">门户<span>Portal</span></a></li>
                        <li class="@if (selectPage == 1) { @a}" hidden="hidden" id="mn_P11" onmouseover="showMenu({'ctrlid':this.id,'ctrlclass':'hover','duration':2})"><a href="/Music" tppabs="http://47.100.112.22/demo/manga/portal.php?mod=list&catid=11" hidefocus="true">动漫音乐</a></li>
                        <li class="@if (selectPage == 2) { @a}"   id="mn_P10" onmouseover="showMenu({'ctrlid':this.id,'ctrlclass':'hover','duration':2})"><a href="/Anime" tppabs="http://47.100.112.22/demo/manga/portal.php?mod=list&catid=10" hidefocus="true">番剧</a></li>
                        <li class="@if (selectPage == 3) { @a}" hidden="hidden" id="mn_P8" onmouseover="showMenu({'ctrlid':this.id,'ctrlclass':'hover','duration':2})"><a href="/Comic" tppabs="http://47.100.112.22/demo/manga/portal.php?mod=list&catid=8" hidefocus="true">漫画专题</a></li>
                        <li class="@if (selectPage == 4) { @a}" hidden="hidden" id="mn_F2"><a href="/AcgVideo" tppabs="http://47.100.112.22/demo/manga/forum.php?mod=forumdisplay&fid=2" hidefocus="true">ACG视频</a></li>
                        <li class="@if (selectPage == 5) { @a}" hidden="hidden" id="mn_F37"><a href="/PixivPicture" hidefocus="true">P站美图</a></li>
                        <li class="@if (selectPage == 6) { @a}" hidden="hidden" id="mn_F36"><a href="/CosPlay" tppabs="http://47.100.112.22/demo/manga/forum.php?mod=forumdisplay&fid=36" hidefocus="true">Cosplay</a></li>
                        <li class="@if (selectPage == 7) { @a}" hidden="hidden" id="mn_P2" onmouseover="showMenu({'ctrlid':this.id,'ctrlclass':'hover','duration':2})"><a href="portal.php-mod=list&catid=2.htm" tppabs="http://47.100.112.22/demo/manga/portal.php?mod=list&catid=2" hidefocus="true">资讯展示</a></li>
                        <li class="@if (selectPage == 8) { @a}" hidden="hidden" id="mn_P1"><a href="/About" tppabs="http://47.100.112.22/demo/manga/portal.php?mod=list&catid=1" hidefocus="true">关于我们</a></li>
                        <li class="@if (selectPage == 9) { @a}" hidden="hidden" id="mn_P9"><a href="/VIP" tppabs="http://47.100.112.22/demo/manga/portal.php?mod=list&catid=9" hidefocus="true">VIP</a></li>
                        <li class="@if (selectPage == 10){ @a}" hidden="hidden" id="mn_forum_2"><a href="/BBS" tppabs="http://47.100.112.22/demo/manga/forum.php" hidefocus="true" title="BBS">论坛<span>BBS</span></a></li>
                    </ul>
                </div>

                <div class="nex_fastpost_btn">
                    <a onClick="showWindow('nav', this.href, 'get', 0)" href="forum.php-mod=misc&action=nav.htm" tppabs="http://47.100.112.22/demo/manga/forum.php?mod=misc&action=nav"><i></i>我要投稿</a>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <script type="text/javascript">
            jQuery(function () {
                var nav = jQuery("#nexheader");
                var win = jQuery(window);
                var sc = jQuery(document);
                win.scroll(function () {
                    if (sc.scrollTop() >= 10) {
                        nav.addClass("nex_subtops");
                    } else {
                        nav.removeClass("nex_subtops");
                    }
                })
            });
        </script>
        <script src="template/nex_manga_181008/neoconex/js/nv.js" tppabs="http://47.100.112.22/demo/manga/template/nex_manga_181008/neoconex/js/nv.js" type="text/javascript"></script>
        <!--侧边工具栏-->
        <div class="nexsidetls">
            <div class="nexsidetools">
                <ul>
                    <li class="nexsd_kf">
                        <div class="nexstout">
                            <img src="template/nex_manga_181008/neoconex/sidetools/kf.png" tppabs="http://47.100.112.22/demo/manga/template/nex_manga_181008/neoconex/sidetools/kf.png" />
                            <span>客服电话</span>
                        </div>
                    </li>
                    <li>
                        <div class="nexstout">
                            <a onClick="showWindow('nav', this.href, 'get', 0)" href="forum.php-mod=misc&action=nav.htm" tppabs="http://47.100.112.22/demo/manga/forum.php?mod=misc&action=nav">
                                <img src="template/nex_manga_181008/neoconex/sidetools/ft.png" tppabs="http://47.100.112.22/demo/manga/template/nex_manga_181008/neoconex/sidetools/ft.png" />
                                <span>快速发帖</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="nexstout">
                            <a href="mailto:admin@admin.com" target="_blank">
                                <img src="template/nex_manga_181008/neoconex/sidetools/qa.png" tppabs="http://47.100.112.22/demo/manga/template/nex_manga_181008/neoconex/sidetools/qa.png" />
                                <span>问题反馈</span>
                            </a>
                        </div>
                    </li>
                    <li class="nexsd_app">
                        <div class="nexstout nexstout_app">
                            <img src="template/nex_manga_181008/neoconex/sidetools/app.png" tppabs="http://47.100.112.22/demo/manga/template/nex_manga_181008/neoconex/sidetools/app.png" />
                            <span>APP下载</span>
                        </div>
                    </li>
                    <li class="nexsd_wx">
                        <div class="nexstout nexstout_wx">
                            <img src="template/nex_manga_181008/neoconex/sidetools/wx.png" tppabs="http://47.100.112.22/demo/manga/template/nex_manga_181008/neoconex/sidetools/wx.png" />
                            <span>官方微信</span>
                        </div>
                    </li>
                    <!--返回顶部-->
                    <li id="scrolltop">
                        <div class="nexstout nexstout_up">
                            <a id="nexGoToTop">
                                <img src="template/nex_manga_181008/neoconex/sidetools/up.png" tppabs="http://47.100.112.22/demo/manga/template/nex_manga_181008/neoconex/sidetools/up.png" />
                                <span>返回顶部</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="nexsidecons">
                <ul>
                    <li style="display:none;">
                        <div class="nexsthds">
                            <div class="nexsthdstops">
                                <img src="template/nex_manga_181008/neoconex/sidetools/qq.png" tppabs="http://47.100.112.22/demo/manga/template/nex_manga_181008/neoconex/sidetools/qq.png" />
                                <a href="tencent://Message/?Uin=1691000615&amp;websiteName=#=&amp;Menu=yes">点击联系客服</a>
                                <p>在线时间：8:00-16:00</p>
                            </div>
                            <div class="nexsthdcbtms">
                                <h5>客服电话</h5>
                                <p>400-123-4567</p>
                                <h4>电子邮件</h4>
                                <span>admin@admin.com</span>
                            </div>
                        </div>
                    </li>
                    <li style="display:none;"></li>
                    <li style="display:none;"></li>
                    <li style="display:none;">
                        <div class="nexsthds nexsthds_app nexAPPuiBox">
                            <div class="nexstappsd nexAPPui">
                                <i></i>
                                <div class="nexAPPinters">
                                    <p>星点次元APP</p>
                                    <p>随时随地分享快乐</p>
                                    <img src="template/nex_manga_181008/neoconex/sidetools/app_code.jpg" tppabs="http://47.100.112.22/demo/manga/template/nex_manga_181008/neoconex/sidetools/app_code.jpg" />
                                </div>
                                <em></em>
                            </div>
                        </div>
                    </li>
                    <li style="display:none;">
                        <div class="nexsthds nexsthds_weixin">
                            <i></i>
                            <div class="nexstwxsd">
                                <p>扫描二维码</p>
                                <p>关注星点次元公众号</p>
                                <img src="template/nex_manga_181008/neoconex/sidetools/wx_ewm.png" tppabs="http://47.100.112.22/demo/manga/template/nex_manga_181008/neoconex/sidetools/wx_ewm.png" />
                            </div>
                        </div>
                    </li>
                    <li style="display:none;"></li>
                </ul>
            </div>
            <script type="text/javascript">
                jQuery(".nexsidetools ul li").each(function (s) {
                    jQuery(this).hover(function () {
                        jQuery(".nexsidecons ul li").eq(s).show().siblings().hide();
                    })
                })
            </script>
            <script type="text/javascript">
                jQuery(".nexsidetls").each(function (s) {
                    jQuery(this).mouseleave(function () {
                        jQuery(".nexsidecons ul li").css("display", "none");
                    })
                })
            </script>
        </div>
        <div class="wp">
            <div class="hdc cl">
            </div>
            <ul class="p_pop h_pop" id="mn_P11_menu" style="display: none">
                <li><a href="/SingleMusicIndexc" tppabs="http://47.100.112.22/demo/manga/forum.php?mod=forumdisplay&fid=58" hidefocus="true">次元音乐单曲</a></li>
                <li><a href="/SongList" tppabs="http://47.100.112.22/demo/manga/forum.php?mod=forumdisplay&fid=59" hidefocus="true">次元音乐歌单</a></li>
            </ul>
            <ul class="p_pop h_pop" id="mn_P10_menu" style="display: none">
                <li><a href="/AnimeIndex" tppabs="http://47.100.112.22/demo/manga/forum.php?mod=forumdisplay&fid=42" hidefocus="true">番剧索引</a></li>
            </ul>
            <ul class="p_pop h_pop" id="mn_P8_menu" style="display: none">
                <li><a href="forum.php-mod=forumdisplay&fid=40.htm" tppabs="http://47.100.112.22/demo/manga/forum.php?mod=forumdisplay&fid=40" hidefocus="true">漫画下载</a></li>
                <li><a href="forum.php-mod=forumdisplay&fid=39.htm" tppabs="http://47.100.112.22/demo/manga/forum.php?mod=forumdisplay&fid=39" hidefocus="true">次元漫画</a></li>
            </ul>
            <ul class="p_pop h_pop" id="mn_P2_menu" style="display: none">
                <li><a href="portal.php-mod=list&catid=3.htm" tppabs="http://47.100.112.22/demo/manga/portal.php?mod=list&catid=3" hidefocus="true">动漫资讯</a></li>
                <li><a href="portal.php-mod=list&catid=4.htm" tppabs="http://47.100.112.22/demo/manga/portal.php?mod=list&catid=4" hidefocus="true">游戏资讯</a></li>
                <li><a href="portal.php-mod=list&catid=5.htm" tppabs="http://47.100.112.22/demo/manga/portal.php?mod=list&catid=5" hidefocus="true">八卦娱乐</a></li>
                <li><a href="portal.php-mod=list&catid=6.htm" tppabs="http://47.100.112.22/demo/manga/portal.php?mod=list&catid=6" hidefocus="true">新番速递</a></li>
            </ul><div id="mu" class="cl">
            </div>
        </div>
    </div>

    <!--内容-->
    @RenderBody()

    <!--底部区域-->
    <div class="nexfooter">
        <div class="nexbottom_nav">
            <ul>
                <li><a href="#" target="_blank">站点地图</a></li>
                <li><a href="#" target="_blank">关于我们</a></li>
                <li><a href="#" target="_blank">招聘信息</a></li>
                <li><a href="#" target="_blank">意见反馈</a></li>
                <li><a href="#" target="_blank">免责声明</a></li>
                <li><a href="#" target="_blank">加入我们</a></li>
                <li><a href="#" target="_blank">我要投稿</a></li>
                <li><a href="#" target="_blank">商务合作</a></li>
                <li><a href="#" target="_blank">常见问题</a></li>
            </ul>
        </div>
        <div class="nexfttop">
            <div class="w1180">
                <div class="nexfttop_L">
                    <div class="nex_ftLogo"><img src="template/nex_manga_181008/neoconex/footer/logo.png" tppabs="http://47.100.112.22/demo/manga/template/nex_manga_181008/neoconex/footer/logo.png" /></div>
                    <div class="nex_ft_intro">关于本站：星点二次元-ACG一站式分享平台，包含 动漫资讯、cosplay、漫展信息、动漫美图、动漫周边，动漫音乐等跟二次元相关内容，欢迎投稿</div>
                    <div class="clear"></div>
                </div>
                <div class="nexfttop_M">
                    <ul>
                        <li>网络文化经营许可证：沪网文[2016]2296-134号</li>
                        <li>信息网络传播视听节目许可证：0910417</li>
                        <li>违法不良信息举报邮箱：<a href="mailto:admin@admin.com">admin@admin.com</a></li>
                        <li>违法不良信息举报电话：4000231233233转13 </li>
                    </ul>
                </div>
                <div class="nexfttop_R">
                    <div class="nex_cell_edition">
                        <div class="nex_cell_editionimg"><img src="template/nex_manga_181008/neoconex/footer/wx.png" tppabs="http://47.100.112.22/demo/manga/template/nex_manga_181008/neoconex/footer/wx.png" /></div>
                        <div class="nex_cell_editioninfo">
                            <p>扫描二维码</p>
                            <p>体验配套手机端</p>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="nexftbottom">
            <div class="w1180">
                <p>声明：本站不提供任何视听上传服务，所有内容均来自视频分享站点所提供的公开引用资源,作品版权归原作者所有 禁止商用 违者必究。</p>

                <p>Powered by <a href="javascript:if(confirm('http://www.discuz.net/  \n\n该文件无法用 Teleport Ultra 下载, 因为 它是一个域或路径外部被设置为它的启始地址的地址。  \n\n你想在服务器上打开它?'))window.location='http://www.discuz.net/'" tppabs="http://www.discuz.net/" target="_blank">Discuz!</a> <em>X3.4</em>&copy; 2001-2013 <a href="javascript:if(confirm('http://www.comsenz.com/  \n\n该文件无法用 Teleport Ultra 下载, 因为 它是一个域或路径外部被设置为它的启始地址的地址。  \n\n你想在服务器上打开它?'))window.location='http://www.comsenz.com/'" tppabs="http://www.comsenz.com/" target="_blank">Comsenz Inc.</a> <em>星点互联设计</em> ( <a href="javascript:if(confirm('http://www.miitbeian.gov.cn/  \n\n该文件无法用 Teleport Ultra 下载, 因为 它是一个域或路径外部被设置为它的启始地址的地址。  \n\n你想在服务器上打开它?'))window.location='http://www.miitbeian.gov.cn/'" tppabs="http://www.miitbeian.gov.cn/" target="_blank">鲁ICP(325452342)</a> ) </p>
            </div>
        </div>
    </div>

    <div id="ft" style="margin:0;padding:0; height:0;"></div>
    <div id="scrolltop" style="display:none;">
        <span hidefocus="true"><a title="返回顶部" onclick="window.scrollTo('0','0')" id="scrolltopa"><b>返回顶部</b></a></span>
    </div>
    <script type="text/javascript">_attachEvent(window, 'scroll', function () { showTopLink(); }); checkBlind();</script>
    <script type="text/javascript">
        function click(e) {
            if (document.all) {
                if (event.button == 2 || event.button == 3) {
                    alert("支持正版！！！有需求请与管理联系QQ:1691000615！谢谢您的合作！！！");
                    oncontextmenu = 'return false';
                }
            }
            if (document.layers) {
                if (e.which == 3) {
                    oncontextmenu = 'return false';
                }
            }
        }
        if (document.layers) {
            document.captureEvents(Event.MOUSEDOWN);
        }
        document.onmousedown = click;
        document.oncontextmenu = new Function("return false;")
        document.onkeydown = document.onkeyup = document.onkeypress = function () {
            if (window.event.keyCode == 123) {
                window.event.returnValue = false;
                return (false);
            }
        }
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>