@{
    Layout = "/Views/Member/_MemberLayout.cshtml";
    Dictionary<string, string>
    msg = ViewBag.msg;
    Dictionary<string, string>
    member = ViewBag.member;
    User user = ViewBag.user;
    UploadSizeLimit globalConfigs = ViewBag.globalConfigs;
}

        <div class="m-b-md"> <h3 class="m-b-none">@member["Avatar"]</h3></div>
        <div class="row">

            <div class="col-sm-8">
                <form id="uploadAvatar" method="post" action="/file/uploadAvatar" enctype="multipart/form-data">
                    <section class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-group">
                                <div id="dropAvatar" class="dropzone">
                                    <div>
                                        @if (!string.IsNullOrEmpty(user.Logo))
                                        {

                                            <img src="@user.Logo" id="avatar" />
                                        }
                                        else
                                        {
                                            <img src="~/images/blog/default_avatar.png" id="avatar" />
                                        }
                                    </div>
                                    <a class="btn btn-success btn-choose-file">
                                        <span class="fa fa-upload"></span> @msg["chooseImage"]
                                    </a>
                                    <input type="file" name="file" multiple />
                                </div>
                                <div id="avatarUploadMsg">
                                </div>
                            </div>
                        </div>
                    </section>
                </form>
            </div>
        </div>

@section Footer {
        <script src="/js/require.js"></script>
        <script>
            var UrlPrefix = "@ViewBag.siteUrl"; // 为了发weibo
            var GlobalConfigs =@Html.Raw(@globalConfigs.ToJsonForSimple()); // 2014/11/9 beta2
            require.config({
	            baseUrl: '/',
                paths: {
    	            'avatar': 'member/js/avatar',
                    'fileupload': 'js/plugins/libs-min/fileupload',
                }
            });
            $(function() {
	            require(['avatar'], function(avatar) {});
            });
        </script>
}