@model MoreNote.Logic.Entity.AppInfo

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

    <div>
        <h4>AppInfo</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.appautor)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.appautor)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.appdetail)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.appdetail)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.appname)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.appname)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.apppackage)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.apppackage)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.appdownurl)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.appdownurl)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.applogourl)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.applogourl)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.appversion)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.appversion)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.imglist)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.imglist)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.appsize)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.appsize)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.appid">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</body>
</html>
