@{
        Layout = "";
	    Dictionary<string ,string> msg=ViewBag.msg;
}
<!DOCTYPE html>
<html lang="zh">
<head>
	@await Html.PartialAsync("_HeadBox")
</head>
<body id="boxBody">
    <!-- 使用验证码帮助识别用户是不是自动脚本，
        虽然攻击者可能使用验证码识别技术越过，
        但是聊胜于无-->
    <script type="text/x-jsrender" id="tCaptcha">
        <div class="form-group">
            <label class="control-label">@msg["captcha"]</label>
            <input type="text" class="form-control" id="captcha" name="captcha" autocomplete="off">
            @*<a id="reloadCaptcha" title="@msg["reloadCaptcha"]" onclick="$('#captchaImage').attr('src', '/api/VerifyCode?random=' + ((new Date()).getTime()))"><img src="/captcha/get?random=@DateTime.Now.ToString("yyyyMMddHHmmssffff")" id="captchaImage" /></a>*@
            <a id="reloadCaptcha" title="@msg["reloadCaptcha"]" onclick="$('#captchaImage').attr('src', '@Url.Action("VerifyCode","API")?random=' + Math.round(new Date().getTime()/1000))"><img src="@Url.Action("VerifyCode","API")?random=@DateTime.Now.ToString("yyyyMMddHHmmssffff")" id="captchaImage" /></a>
        </div>
    </script>


    <section id="box" class="animated fadeInUp">
        <!--
        <div>
            <a class="back" href="javascript:history.go(-1);" tabindex="-1">←Back</a>
        </div>
        -->
        <div>
            <h1 id="logo"></h1>
            <div id="boxForm">
                <div id="boxHeader">注册</div>
                <form>
                    <div class="alert alert-danger" id="loginMsg"></div>
                    <input id="from" type="hidden" value="@ViewBag.from" />
                    <div class="form-group">
                        <label class="control-label" for="email">Email</label>
                        <input type="text" class="form-control" id="email" name="email">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="pwd">密码</label>
                        <input type="password" class="form-control" id="pwd" name="pwd">
                        密码至少6位
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="pwd2">确认密码</label>
                        <input type="password" class="form-control" id="pwd2" name="pwd2">
                    </div>
                    <div id="captchaContainer">

                    </div>

                    <button id="registerBtn" class="btn btn-success">注册</button>

                    <div class="line line-dashed"></div>

                    <p class="text-muted text-center"><small>已有帐户?</small></p>

                    <a id="loginBtn" href="/login" class="btn btn-default btn-block">登录</a>
                </form>
            </div>
        </div>
    </section>

    <div id="boxFooter">
        <p>
            <a href="@Url.Action("Index","Home")">@msg["home"]</a>
        </p>
        <p>
            © <a href="https://leanote.com">Leanote</a>
        </p>
    </div>

    <script src="/js/jquery-1.9.0.min.js"></script>
    <script src="/js/bootstrap.js"></script>

    <script>
$(function() {
    var needCaptcha = true;

    if (needCaptcha) {
        $("#captchaContainer").html($("#tCaptcha").html());
    }


	$("#email").focus();

	function showMsg(msg, id) {
		$("#loginMsg").html(msg).show();
		if(id) {
			$("#" + id).focus();
		}
	}
	function hideMsg() {
		$("#loginMsg").hide();
	}
	$("#registerBtn").click(function(e){
		e.preventDefault();
        //获取界面参数
		var email = $("#email").val();
		var pwd = $("#pwd").val();
		var pwd2 = $("#pwd2").val();
        var captcha = $("#captcha").val()
        //判断界面参数合法性
		if(!email) {
			showMsg("inputEmail", "email");
			return;
		} else {
			var myreg = /^([a-zA-Z0-9]+[_|\_|\.|\-]?)*[a-zA-Z0-9\-_]+@@([a-zA-Z0-9\-]+[_|\_|\.|\-]?)*[a-zA-Z0-9\-]+\.[0-9a-zA-Z]{2,6}$/;
			if(!myreg.test(email)) {
				showMsg("wrongEmail", "email");
				return;
			}
		}
		if(!pwd) {
			showMsg("inputPassword", "pwd");
			return;
		} else {
			if(pwd.length < 6) {
				showMsg("notGoodPassword", "pwd");
				return;
			}
		}
		if(!pwd2) {
			showMsg("inputPassword2", "pwd2");
			return;
		} else {
			if(pwd != pwd2) {
				showMsg("confirmPassword", "pwd2");
				return;
			}
		}
       //检查验证码是否填写
        if(needCaptcha && !captcha) {
			showMsg("@msg["inputCaptcha"]", "captcha");
			return;
		}

		$("#registerBtn").html("ing").addClass("disabled");
		// hideMsg();

		var iu = "@ViewBag.iu";

        $.post("@Url.Action("doRegister")", {
            email: email,
            pwd: pwd, 
            captcha, captcha,
            iu: iu}, function(e) {
			$("#registerBtn").html("register").removeClass("disabled");
			if(e.Ok) {
				$("#registerBtn").html("registerSuccessAndRdirectToNote");
				//var from = $("#from").val() || "{{.noteUrl}}" || "/note";
                var from ="/Auth/Login";
				location.href = from;
			} else {
				showMsg(e.Msg, "email");
			}
		});

	});
});
    </script>
</body>
</html>
