@model MoreNote.Logic.Entity.HostServiceProvider

@{
    ViewData["Title"] = "主机数据库";
    Layout = "_HostLayout";
    SecretReport[] secretReports=ViewBag.secretReports;
    ServiceProviderCompany providerCompany=ViewBag.company;
}

<h2>Details</h2>

<div>
    <h4>HostServiceProvider</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
          主机名
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HostName)
        </dd>
        <dt>
           主机服务商
        </dt>
        <dd>
            @if (providerCompany!=null)
            
            @providerCompany.SPName;
            @* @Html.DisplayFor(model => model.ServiceProviderCompanyId)*@
        </dd>
        <dt>
            服务类型
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceType)
        </dd>
        <dt>
           ISP备案
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ISP)
        </dd>
        <dt>
           公安备案
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BeiAnGov)
        </dd>
        <dt>
           网址
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WebSite)
        </dd>
        <dt>
           曾用网址
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OldWebSite)
        </dd>
        <dt>
            注册地
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RegistrationPlace)
        </dd>
        <dt>
           首次服务时间
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FoundDate)
        </dd>
        <dt>
            是否被拉黑
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsBlock)
        </dd>
        <dt>
           风险指数
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RiskIndex)
        </dd>
        <dt>
           指名度
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MentionByName)
        </dd>
        <dt>
           异常检测
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AnomalyDetection)
        </dd>
    </dl>
</div>
<hr>
@if (secretReports!=null&&secretReports.Length>0)
    foreach (var item in secretReports)
    {
        <p>报告Id： @item.ReporterId.ToString("x")</p>
        <p>报告人:  @item.ReporterId.ToString("x")</p>
        <p>报告内容:@item.ReportContent</p>
        <hr>
    }
<div>
    <a asp-action="Edit" asp-route-id="@Model.HostServiceProviderId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
