@model IEnumerable<MoreNote.Logic.Entity.HostServiceProvider>

@{
    ViewData["Title"] = "主机数据库";
      Layout = "_HostLayout";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                主机名
            </th>
            <th>
                服务商
            </th>
            <th>
                服务类型
            </th>
            <th>
               ISP备案
            </th>
            <th>
               公安备案
            </th>
            <th>
                网址
            </th>
            <th>
                曾用网址
            </th>
            <th>
               注册地
            </th>
            <th>
               首次服务时间
            </th>
            <th>
               是否拉黑
            </th>
            <th>
               风险指数
            </th>
            <th>
                指名度
            </th>
            <th>
                异常检测
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HostName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceProviderCompanyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeiAnGov)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WebSite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OldWebSite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationPlace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FoundDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsBlock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RiskIndex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MentionByName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnomalyDetection)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.HostServiceProviderId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.HostServiceProviderId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.HostServiceProviderId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
