@model MoreNote.Logic.Entity.ServiceProviderLegalPerson

@{
  ViewData["Title"] = "主机数据库";
     Layout = "_HostLayout";
}

<h2>Details</h2>

<div>
    <h4>ServiceProviderLegalPerson</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.About)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.About)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PersonId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
