@{
    Layout = null;
    Dictionary<string, string> msg = ViewBag.msg;
    Dictionary<string, string> member = ViewBag.member;
}
<nav class="nav-primary">
    <ul class="nav" id="nav">

        <li class="active">
            <a href="/member">
                <i class="fa fa-dashboard icon">
                    <b class="bg-success">
                    </b>
                </i>
                <span class="nav-h1">
                    @member["memberCenter"]
                </span>
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fa fa-user icon">
                    <b class="bg-danger">
                    </b>
                </i>
                <span class="pull-right">
                    <i class="fa fa-angle-down text">
                    </i>
                    <i class="fa fa-angle-up text-active">
                    </i>
                </span>
                <span class="nav-h1">
                    @member["accountInfo"]
                </span>
            </a>
            <!-- 导航列表 -->
            <ul class="nav lt">
                <li>
                    <a href="/member/user/avatar">
                        <span>
                            @member["Avatar"]
                        </span>
                    </a>
                </li>

                <li>
                    <a href="/member/user/username">
                        <span>
                            @member["Username"]
                        </span>
                    </a>
                </li>

                <li>
                    <a href="/member/user/email">
                        <span>
                            @member["Email"]
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/member/user/password">
                        <span>
                            @member["Password"]
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/member/user/editor">
                        <span>
                            Editor
                        </span>
                    </a>
                </li>

            </ul>
        </li>

        <li id="adminEmailNav">
            <a href="#layout">
                <i class="fa fa-bold icon">
                    <b class="bg-warning">
                    </b>
                </i>
                <span class="pull-right">
                    <i class="fa fa-angle-down text">
                    </i>
                    <i class="fa fa-angle-up text-active">
                    </i>
                </span>
                <span class="nav-h1">
                    @msg["blog"]
                </span>
            </a>
            <ul class="nav lt">
                <li>
                    <a href="/member/blog/index">
                        <span>
                            @member["Posts"]
                        </span>
                    </a>
                </li>

                <li>
                    <a href="/member/blog/base">
                        <span>
                            @msg["basicInfoSet"]
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/member/blog/comment">
                        <span>
                            @member["Comment"]
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/member/blog/cate">
                        <span>
                            @member["Category"]
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/member/blog/single">
                        <span>
                            @member["Single"]
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/member/blog/paging">
                        <span>
                            @member["pagingAndSort"]
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/member/blog/theme">
                        <span>
                            @member["Theme"]
                        </span>
                    </a>
                </li>
            </ul>
        </li>

        <li class="active">
            <a href="/member/group/index">
                <i class="fa fa-users icon">
                    <b class="bg-success">
                    </b>
                </i>
                <span class="nav-h1">
                    @member["group"]
                </span>
            </a>
        </li>
    </ul>
</nav>