@model IEnumerable<MoreNote.Logic.Entity.ResolutionStrategy>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StrategyKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StrategyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StrategyKey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StrategyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StrategyID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StrategyID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StrategyID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
